<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bx.mapper.AdminMapper">

    <sql id="Base_Column_List">
        id,username,password,name,phone,email,avatar,role
    </sql>

    <!-- 新增管理员 -->
    <insert id="insert" parameterType="com.bx.entity.Admin" useGeneratedKeys="true" keyProperty="id">
        insert into admin
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="username != null">username,</if>
            <if test="password != null">password,</if>
            <if test="name != null">name,</if>
            <if test="phone != null">phone,</if>
            <if test="email != null">email,</if>
            <if test="avatar != null">avatar,</if>
            <if test="role != null">role,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="username != null">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="name != null">#{name},</if>
            <if test="phone != null">#{phone},</if>
            <if test="email != null">#{email},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="role != null">#{role},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <!-- 删除管理员 -->
    <delete id="deleteById">
        delete from admin
        where  id = #{id}
    </delete>

    <!-- 批量删除管理员 -->
    <delete id="deleteByIds">
        delete from admin
        where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <!-- 查询所有管理员 -->
    <select id="selectAll" resultType="com.bx.entity.Admin">
        select
        <include refid="Base_Column_List" />
        from admin
        <where>
            <if test="id != null"> and id= #{id}</if>
            <if test="username != null"> and username like concat('%', #{username}, '%')</if>
            <if test="password != null"> and password= #{password}</if>
            <if test="name != null"> and name= #{name}</if>
            <if test="phone != null"> and phone= #{phone}</if>
            <if test="email != null"> and email= #{email}</if>
            <if test="avatar != null"> and avatar= #{avatar}</if>
            <if test="role != null"> and role= #{role}</if>
        </where>
    </select>

    <!-- 根据ID查询管理员详情 -->
    <select id="selectById" resultType="com.bx.entity.Admin">
        select
        <include refid="Base_Column_List" />
        from admin
        where id = #{id}
    </select>

    <!-- 修改管理员 -->
    <update id="updateById" parameterType="com.bx.entity.Admin">
        update admin
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="role != null">
                role = #{role},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>