<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bx.mapper.LikesMapper">

    <!-- 新增点赞 -->
    <insert id="insert">
        insert into likes (fid, user_id, module,create_time,update_time) values (#{fid}, #{userId}, #{module},#{createTime},#{updateTime})
    </insert>

    <!-- 删除点赞 -->
    <delete id="deleteById">
        delete from likes where id = #{id}
    </delete>

    <!-- 根据用户查询点赞 -->
    <select id="selectUserLikes" resultType="com.bx.entity.Likes">
        select * from likes where fid = #{fid} and user_id = #{userId} and module = #{module}
    </select>

    <!-- 根据关联ID和模块查询点赞数量 -->
    <select id="selectByFidAndModule" resultType="java.lang.Integer">
        select count(*) from likes where fid = #{fid} and module = #{module}
    </select>

</mapper>